body {
    min-width: 357px;
    overflow-x: hidden;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

.color-box {
    border: solid 1px black;
    border-radius: 5px;
    display: inline-block;
    height: 100px;
    margin: 4px;
    vertical-align: top;
    width: 100px;
}

.color-input {
    width: 70px;
}

.hidden {
    display: none;
}
